
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="container-fluid">
                    <img class="img" src="/public/images/logo_intro.png" alt="">
                </div>
                <ul class="navbar-na">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/admin">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu setting</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/time">Timing</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gallery</a>
                    </li>
                     <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-12 col-md-9">
                <div class="admin">
                    <h1>ADMIN PANEL</h1>   
                </div>

               <div class="text-area col-12">
                   <!--All content here-->
                   <div class="bs-example">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>phone</th>
                                <th>date</th>
                                <th>time</th>
                                <th>party</th>
                                <th>message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.time}}</td>
                                <td>{{this.party}}</td>
                                <td>{{this.message}}</td>
                            </tr>
                             {{/each}}         
                        </tbody>
                    </table>
                </div>
               </div>
            </div>
        </div>
    </div>
    
